<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Ebenezar.Properties.Settings.EICConnectionString"
            connectionString="Data Source=.\;Initial Catalog=EIC;UID=user;pwd=user;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>