<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Ebenezar.Properties.Settings.EICConnectionString"
            connectionString="Data Source=ROMONE-PC\SQL2008EXP;Initial Catalog=EIC;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>